name: RHIZA

permissions:
  contents: read

on:
  push:
  pull_request:
    branches: [ main, master ]

jobs:
  generate-matrix:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Validate Rhiza config
        shell: bash
        run: |
          python -m pip install rhiza --index-url https://pypi.org/simple
          rhiza validate
